@model IEnumerable<FoodFit.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-size: 400%; color: #283618; font-weight: 900">Рецепты</h1>

@* <p>
    <a asp-action="Create" style="text-decoration: none; font-size: 200%; color: #283618; font-weight: 300">Добавить</a>
</p> *@
<table class="table">
    <tbody style="height: 630px; display:flex; flex-direction:column; overflow-y: scroll; overflow-x: hidden; border: none">
@foreach (var item in Model) {
        <tr class="homepage">
            <td id="hpimgs" style="width: 69%; border: none">
                <img src="~/Resources/firstmeal.jpg" style="padding: 10px; height: 69%; width: 69%;" />
            </td>
            
            <td id="hptxtf" style="width: 69%; border: none; padding: 10px">
                    <p style="font-size: 300%; color: #BC6C25; font-weight: 300; text-decoration: underline;">
                        @Html.DisplayFor(modelItem => item.Title)
                    </p>
                <p id="hptxts" style="font-size: 150%;">
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                    <p id="hptxts" style="font-size: 150%; flex-direction: row">
                        @Html.DisplayFor(modelItem => item.RecipeType.Title) на @Html.DisplayFor(modelItem => item.TimeOfReceipt.Title)
                    </p>
                <table style="font-size: 150%;">
                    <thead>
                        <tr>
                            <th> Каллории | </th>
                            <th> Белки | </th>
                            <th> Жиры | </th>
                            <th> Углеводы </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Calories)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Proteins)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Fats)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Carbonhydrates)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
}
    </tbody>
</table>
